h1 {
    color: rgb(32, 207, 105);
}

* {
    border: solid;
}
.header{
    background-color: rgb(7, 71, 247);
    
}
.yuvi{
    background-color: aqua;
}
.arjun{
    background-color: aquamarine;
}
.priti{
    background-color:blueviolet
}
.pop{
    background-color:crimson
}
.k{
    background-color:darkgreen
}
.lets go boys{
    background-color:darkkhaki
}
